<header class="header">
    <script>
        $(document).ready(function() {
            $("#nav_button").click(function() {
                $("#small_nav").toggleClass("expanded")
            })
        })
    </script>
    <div class="wrap navigation">
        <a class="transition title" href="/">Ronak Roy</a>
        
        {% for site_page in site.data.pages %}
            <a href="{{ site_page.permalink }}" class="page_link transition {% if page.url contains site_page.permalink %} current {% endif %}">
                {{ site_page.name }}
            </a>
        {% endfor %}

        <div id="nav_button" class="button transition">
            &#9776;
        </div>
    </div>
    <div id="small_nav" class="wrap small_navigation">
        <div style="min-height: 12px;"></div>
        {% for site_page in site.data.pages %}
            <a href="{{ site_page.permalink }}" class="page_link transition {% if page.url contains site_page.permalink %} current {% endif %}">
                {{ site_page.name }}
            </a>
        {% endfor %}
    </div>
</header>