---
import type { CollectionEntry } from "astro:content";
const { content } = Astro.props as { content: CollectionEntry<"notes"> };
const { Content } = await content.render();
---

<article class="prose text-left">
  <Content />
  <div
    class="mb-4 p-4 rounded-md border border-yellow-400 bg-yellow-100 text-yellow-900 text-sm"
  >
    ⚠️ These notes are still being formatted! You may experience some rough
    edges with the navigation.
  </div>
</article>
