<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    {% if page.title and page.url != '/' %}
      <title>{{ page.title }} - {{ site.title }}</title>
    {% else %}
      <title>{{ site.title }}</title>
    {% endif %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Muli:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  </head>
  <body class="{% if page.layout == 'detailpage' %} detail {% endif %}">
    {% include header.html %}
    
    {{ content }}

    {% include footer.html %}
  </body>
</html>
